<item>
	<title>By: {commauthor}</title>
	<guid>{baseurl}/?p={id}#comment-{commid}</guid>
	<link>{baseurl}/?p={id}#comment-{commid}</link>
	<comments>{baseurl}/?p={id}#respond</comments>
	<description><![CDATA[{commbody}]]></description>
	<pubDate>{commtime|rfc822}</pubDate>
</item>
