<?xml version="1.0"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
	<title>Josef "Jeff" Sipek</title>
	<link>{baseurl}</link>
	<language>en</language>
	<description>Josef "Jeff" Sipek</description>

{posts%story}
</channel>
</rss>
