<item>
	<title>{title}</title>
	<guid>{baseurl}/?p={id}</guid>
	<link>{baseurl}/?p={id}</link>
	<comments>{baseurl}/?p={id}#respond</comments>
	{tags%tag}
	<description><![CDATA[{body}]]></description>
	<pubDate>{time|rfc822}</pubDate>
</item>
