<div class="navigation">
	{ifeq(moreposts,1)}
	<div class="alignleft"><a href="?m={archid}&amp;paged={prevpage}">&laquo; Older Entries</a></div>
	{endif()}
	{ifgt(curpage,0)}
	<div class="alignright"><a href="?m={archid}&amp;paged={nextpage}">Newer Entries &raquo;</a></div>
	{endif()}
</div>
