<div id="respond">
<h2>Leave a comment</h2>

<form action="?comment=1" method="post" id="commentform">

<p style="display: none;">
<input type="text" name="x" id="name" value="" size="22" />
<label for="name"><small>Please do not enter anything here</small></label>
</p>

<p><input type="text" name="a" id="author" value="" size="22" tabindex="1" />
<label for="author"><small>Name (required)</small></label></p>

<p><input type="text" name="e" id="email" value="" size="22" tabindex="2" />
<label for="email"><small>Mail (will not be published) (required)</small></label></p>

<p><input type="text" name="u" id="url" value="" size="22" tabindex="3" />
<label for="url"><small>Website</small></label></p>

<p><input type="text" name="v" id="captcha" value="" size="22" tabindex="4" />
<label for="captcha"><small>{captcha_a} + {captcha_b} (required)</small></label></p>

<p><textarea name="c" id="comment" cols="100%" rows="10" tabindex="5"></textarea></p>

<p><input name="s" type="submit" id="submit" tabindex="6" value="Submit Comment" />
<input type="hidden" name="i" value="{id}" />
<input type="hidden" name="d" value="{now}" />
</p>

</form>
</div>
