<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Josef &#8220;Jeff&#8221; Sipek &raquo; {title|escape}</title>
	<meta name="generator" content="blahgd {generatorversion}" />
{ifset(twitteruser)}
{ifset(twittertitle)}
{ifset(twitterdesc)}
	<meta name="twitter:site" content="@{twitteruser}" />
	<meta name="twitter:creator" content="@{twitteruser}" />
	<meta name="twitter:title" content="{twittertitle|escape}" />
	<meta name="twitter:description" content="{twitterdesc|escape}" />
{ifset(twitterimg)}
	<meta name="twitter:image" content="{twitterimg}" />
	<meta name="twitter:card" content="summary_large_image" />
{else()}
	<meta name="twitter:card" content="summary" />
{endif()}
{endif()}
{endif()}
{endif()}
	<style type="text/css" media="screen">
		@import url( {baseurl}/style.css );
	</style>

	<link rel="shortcut icon" href="{baseurl}/favicon.ico" />
	<link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="{baseurl}/?feed=atom" />
	<link rel="alternate" type="application/rss+xml" title="RSS2" href="{baseurl}/?feed=rss2" />
</head>
<body>

<div>
<h1 id="header"><a href="{baseurl}/">Josef &#8220;Jeff&#8221; Sipek</a></h1>

<div id="content">
<!-- end header -->

