</div>

<!-- begin sidebar -->
<div id="sidebar">

<div class="sbsection">
	<ul>
		<li><a href="http://sandeen.net/wordpress/">Eric Sandeen</a></li>
		<li><a href="http://blog.unixcat.org">Nur Hussein</a></li>
	</ul>
</div>

<div class="sbsection">
	<ul>
		<li><a href="http://planet.lilug.org">Planet LILUG</a></li>
	</ul>
</div>

<div class="sbsection"><span class="sbtitle">Tags:</span>
	<div class="tagcloud">{tagcloud%tagcloud}</div>
</div>

<div class="sbsection"><span class="sbtitle">Meta:</span>
	<ul>
		<li><a href="/?feed=atom" title="Syndicate this site using ATOM">Atom</a></li>
		<li><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
	</ul>
</div>

</div>
<!-- end sidebar -->

