<div class="story">
	<h2 class="storytitle">{ifset(preview)}Preview: {endif()}<a href="?p={id}" rel="bookmark">{title|escape}</a></h2>
	<div class="storymeta">
		Filed under:
		<ul>
{tags%tag}
		</ul>
		&#8212; JeffPC @ <span title="{time|zulu}">{time|date} {time|time}</span>
	</div>

{ifset(preview)}
	<br/>
	<div style="border: 3px solid red; width: 90%">
{ifset(twitteruser)}
{ifset(twittertitle)}
{ifset(twitterdesc)}
{ifset(twitterimg)}
	<div>
	<img src="{twitterimg}" width="100%" />
	</div>
{endif()}
	<strong>{twittertitle|escape}</strong><br/>
	<small>{twitterdesc|escape}</small>
{endif()}
{endif()}
{endif()}
	</div>
{endif()}

	<div class="storycontent">
{body}
	</div>

	<div class="storyfeedback">
		<a href="?p={id}#respond" title="Comment on {title|escape}">Comments ({numcom})</a>
	</div>
</div>

