<entry>
	<author>
		<name>JeffPC</name>
		<uri>http://blahg.josefsipek.net</uri>
	</author>
	<title type="html"><![CDATA[{title}]]></title>
	<link rel="alternate" type="text/html" href="http://blahg.josefsipek.net/?p={id}" />
	<id>http://blahg.josefsipek.net/?p={id}</id>
	<updated>{time|zulu}</updated>
	<published>{time|zulu}</published>

	<link rel="replies" type="text/html" href="http://blahg.josefsipek.net/?p={id}#comments" thr:count="1"/>
	<thr:total>{numcom}</thr:total>
	{tags%tag}
	<summary type="html"><![CDATA[{body}]]></summary>
	<content type="html" xml:base="http://blahg.josefsipek.net/?p={id}"><![CDATA[{body}]]></content>
</entry>
