{header}
<h2>Sorry, Atom &amp; RSS2 only</h2>
<div class="post" id="error">
	<div class="storycontent">
	Sorry, currently I support only Atom and RSS2 feeds.  Feel free to
	contact me if you cannot live without some other feed format.
	</div>
</div>
{sidebar}
{footer}
