{header}
<h2>Sorry, Atom only</h2>
<div class="post" id="error">
	<div class="storycontent">
	When I first decided to write my own blogging system, I made a
	decision that the only feed type I'd support (at least for now)
	would be the Atom format.  Yes, there are a lot of RSS and RSS2
	feeds out there, but it seems to be the case that Atom is just as
	supported (and a bit easier to generate).  Feel free to contact me
	if you cannot live without a non-Atom feed.
	</div>
</div>
{sidebar}
{footer}
