{header}
<h2>Comment feed not yet supported</h2>
<div class="post" id="error">
	<div class="storycontent">
	It turns out that there are some features that I never got around to
	implementing.  You just found one of them.  Eventually.
	</div>
</div>
{sidebar}
{footer}
