{story}
<h2>{numcom} Comments <a href="#respond" title="Leave a comment">&raquo;</a></h2>

<ol id="commentlist">
{comments%comment}
</ol>

<p><a href='{baseurl}/?p={id}&amp;feed=atom'>Atom feed for comments on this post.</a></p>

{commentform}
