{story}

<h2 id="comments">{numcom} Comments 
	<a href="#postcomment" title="Leave a comment">&raquo;</a>
</h2>

<ol id="commentlist">
{comments%comment}
</ol>

<!--
<p><a href='/?feed=atom&amp;p={id}'>Atom feed for comments on this post.</a></p>
-->

{commentform}
