<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Josef &#8220;Jeff&#8221; Sipek &raquo; {title|escape}</title>
        <meta name="generator" content="Pile of C" />
        <style type="text/css" media="screen">
                @import url( /style.css );
        </style>

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="alternate" type="application/atom+xml" title="Atom 0.3" href="/?feed=atom" />
</head>
<body>

<div id="rap">
<h1 id="header"><a href="/">Josef &#8220;Jeff&#8221; Sipek</a></h1>

<div id="content">
<!-- end header -->

