<div class="post" id="post-{id}">
	<h2 class="storytitle"><a href="?p={id}" rel="bookmark">{title|escape}</a></h2>
	<div class="meta">Filed under: {tags%tag} &#8212;  JeffPC @ <span title="{time|zulu}">{time|date} {time|time}</span></div>

	<div class="storycontent">
{body}
	</div>

	<div class="feedback">
		<a href="?p={id}#respond" title="Comment on {title|escape}">Comments ({numcom})</a>
	</div>
</div>

