</div>

<!-- begin sidebar -->
<div id="menu">

<ul>
		<li id="linkcat-32" class="linkcat">

	<ul class='xoxo blogroll'>
<li><a href="http://sandeen.net/wordpress/">Eric Sandeen</a></li>
<li><a href="http://www.markdrago.com/blog/">Mark Drago</a></li>
<li><a href="http://kernelpanic.blogspot.com">Nur Hussein</a></li>
<li><a href="http://www.supertom.com/">Tom Melendez</a></li>
<li><a href="http://montezuma.homeunix.net/">Zwane Mwaikambo</a></li>

	</ul>
</li>
<li id="linkcat-33" class="linkcat">

	<ul class='xoxo blogroll'>
<li><a href="http://planet.lilug.org">Planet LILUG</a></li>
<li><a href="http://www.offtopic2.net">Planet Offtopic2</a></li>

	</ul>
</li>

<li class="categories">Categories:<ul>
