</ol>

<p><a href='/?feed=atom&amp;p=@@POSTID@@'>Atom feed for comments on this post.</a> 
</p>

<div id="respond">
<h2 id="postcomment">Leave a comment</h2>

<form action="/post-comment" method="post" id="commentform">

<p><input type="text" name="a" id="author" value="" size="22" tabindex="1" />
<label for="author"><small>Name (required)</small></label></p>

<p><input type="text" name="e" id="email" value="" size="22" tabindex="2" />
<label for="email"><small>Mail (will not be published) (required)</small></label></p>

<p><input type="text" name="u" id="url" value="" size="22" tabindex="3" />
<label for="url"><small>Website</small></label></p>

<!--<p><small><strong>XHTML:</strong> You can use these tags: &lt;a href=&quot;&quot; title=&quot;&quot;&gt; &lt;abbr title=&quot;&quot;&gt; &lt;acronym title=&quot;&quot;&gt; &lt;b&gt; &lt;blockquote cite=&quot;&quot;&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=&quot;&quot;&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=&quot;&quot;&gt; &lt;strike&gt; &lt;strong&gt; </small></p>-->

<p><textarea name="c" id="comment" cols="100%" rows="10" tabindex="4"></textarea></p>

<p><input name="s" type="submit" id="submit" tabindex="5" value="Submit Comment" />
<input type="hidden" name="i" value="@@POSTID@@" />
<input type="hidden" name="d" value="@@UNIXDATE@@" />
</p>

</form>
</div>
