<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
>
<channel>
	<title>Josef "Jeff" Sipek</title>
	<atom:link href="{baseurl}/?feed=rss2" rel="self" type="application/rss+xml" />
	<link>{baseurl}</link>
	<language>en</language>
	<description>Josef "Jeff" Sipek</description>
	<pubDate>{lastupdate|rfc822}</pubDate>

{posts%story}
</channel>
</rss>
