/* tags */
a {
	color: black;
}

a img {
	border: none;
}

abbr, acronym {
	border-bottom: 1px dashed #333333;
	cursor: help;
}

blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}

body {
	background-color: #ffffcc;
	color: black;
	margin: 20px;
	font-size: 12pt;
}

cite {
	font-size: 90%;
	font-style: normal;
}

h1, h2, h3, h4 {
	color: #336699;
}

h1 {
	font-size: 22pt;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 14pt;
}

h4 {
	font-size: 12pt;
}

/* ids */
#header {
	color: #336699;
}

#header a {
	color: #336699;
	text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
}

#commentform input, #commentform textarea {
	background: #fff;
	border: 1px solid #333;
	padding: .2em;
}

#commentform textarea {
	width: 100%;
}

#content {
	margin: 30px 11em 0 0em;
	padding-right: 60px;
}

#sidebar {
	font-family: sans-serif;
	background: white;
	color: #336699;
	border-left: 1px dotted #ccc;
	border-top: 3px solid #e0e6e0;
	padding: 20px 0 10px 30px;
	position: absolute;
	right: 2px;
	top: 0;
	width: 11em;
	text-transform: lowercase;
}

#sidebar a:hover {
	border-bottom: 1px solid #809080;
}

/* classes */
.alignright {
	float: right;
}

.alignleft {
	float: left
}

.credit {
	background: #90a090;
	border-top: double 3px #aba;
	color: white;
	font-size: 11px;
	margin: 10px 0 0 0;
	padding: 3px;
	text-align: center;
}

.credit a:link, .credit a:hover {
	color: white;
}

.navigation {
	display: block;
	margin-top: 10px;
	margin-bottom: 60px;
}

.sbsection {
	font-size: 12px;
	line-height: 115%;
}

.sbsection ul {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 0px;
}

.sbsection a {
	text-decoration: none;
}

.sbtitle {
	font-size: 115%;
}

.story {
	padding-bottom: 1em;
}

.storycontent {
}

.storycontent pre {
	font-size: 85%;
}

.storyfeedback {
	text-align: right;
	clear: both;
}

.storymeta {
	font-size: .75em;
}

.storymeta, .storymeta a {
	font-weight: normal;
	letter-spacing: 0;
	color: #808080;
}

.storymeta li {
	display: inline;
}

.storymeta ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}

.storytitle {
	margin: 0;
}

.storytitle a {
	text-decoration: none;
}

.tagcloud {
	margin-bottom: 10px;
}

.tt {
	font-family: monospace;
}
